* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #070707;
}

.random {
  display: none;
}
.main {
  width: 100vw;
  height: 99vh;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  display: flex;
  position: absolute;
}
.active {
  display: flex;
}
.pic {
  flex-direction: column;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}
.pic img {
  width: 100vw;
  height: 90%;
}
.main-info {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.main-info p {
  color: red;
  margin-top: 10px;
  font-weight: bold;
}
.haha {
  width: 30vw;
  height: 20vh;
  padding: 20px 30px;
  font-size: 2vw;
  color: black;
  background-color: white;
  border: 5px solid red;
  outline: none;
  cursor: pointer;
}
.pic p {
  color: white;
  font-size: 1.5rem;
  padding: 5px;
}
.sorry {
  padding: 10px 20px;
  width: auto;
  height: auto;
  color: black;
  background-color: white;
  border: 3px solid red;
  outline: none;
  cursor: pointer;
}
